/*	General
---------------------- */
#body_plugin_newsletter .save, .send, .delete {
	margin: 20px 0 0 0;
}

#body_plugin_newsletter .label {
	font-size: 13px;
	width: 20%;
}

#body_plugin_newsletter .text {
	width: 75%;
}

#body_plugin_newsletter input, select, option, textarea {
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 13px;
}

#body_plugin_newsletter input[type=text] {
	padding: 5px 2px;
	border: #ccc solid 1px;
	width: 80%;
	display: block;
}

#body_plugin_newsletter textarea {
	min-height: 200px;
}
/*	Letters (view/letters.php)
---------------------- */
#body_plugin_newsletter table.new-letter {
	background: #efefef;
	width: 100%;
}
#body_plugin_newsletter table.new-letter tr {
	border-top: #ccc 1px solid;
}
#body_plugin_newsletter table.new-letter tr:last-child {
	border-bottom: #ccc 1px solid;
}
#body_plugin_newsletter table.new-letter td {
	padding: 5px 0;
}

#body_plugin_newsletter table.new-letter td.text textarea {
	width: 80% !important;
	padding: 5px 2px !important;
}


/*	Group Management (view/groups.php)
----------------------- */
#body_plugin_newsletter table.new-group td {
	padding-right: 20px;
}
#body_plugin_newsletter .group-checkbox {
	width: 10%;
}